.banner{
    background-image: url("../img/beach-banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.banner::after{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.5);
    height: 100vh;
}

.banner-text{
    color: #fff;
    position: absolute;
    margin-top: 20%;
    z-index: 20;
    text-align: center;
}

.banner-text h1{
    font-size: 3.8rem;
    font-weight: 700;
}
.trips-text{
    text-align: center;
    color: black;
    
}

.trips-text h1{
    font-weight: 700;
}




.container-trips{
    
    padding-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
    border: none;
}


.title-places{
    font-weight:  bold;
    color: black;
    text-align: center;
    font-family: 'Mali', cursive;
}

.star{
    color: goldenrod;
    font-size: 1.2rem;
    transition: .5s;
    cursor: pointer;
}

.star:hover{
    -webkit-transform: rotate(15deg) scale(1.25, 0.5);
    -moz-transform: rotate(15deg) scale(1.25, 0.5);
    -ms-transform: rotate(15deg) scale(1.25, 0.5);
    transform: rotate(15deg) scale(1.25, 0.5);
}

.imgRadius{
    border-radius: 10px 10px 10px 10px;
}

.airplane-cartoon{
    position: relative;
    -webkit-animation-name: airplane-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-name: airplane-animation;
    animation-duration: 4s;
    animation-delay: 0s;
}

@-webkit-keyframes airplane-animation {
    0%   {top: 50px}
    50%{top: -50px;}
    100% {top: 50px;}
}

@keyframes  airplane-animation{
    0%   {top: 50px}
    50%{top: -50px;}
    100% {top: 50px;}
}

